.apiBooks{
    figure{

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
    }
    

    .info{
        flex:1;
        .content {
            width: 100%;
            color: #444;
            max-height: 100px;
            overflow: hidden;    /* Set Transitions */
            transition: max-height 0.33s;
            &.open {
                max-height: 1000px;    /* Set transitions */
                transition: max-height 0.33s;
        }
        }.show-more {

            width: fit-content;
            color: blue;
            display: block;
            cursor: pointer;
            text-align: center;
          margin-left: auto;
        }
    }
}